<!DOCTYPE html>
<html lang='cs'>
<head>
	<title> ERROR page </title>
</head>
<body>
<h1> ERROR - {{ title }}</h1>
<nav>

<a href="/login"> Prihlasit se </a>

<div id=detail>
<pre>
{{ message }}
</pre>
</div>

</body>
</html>
